{% extends "index.html" %}
{% block content %}
    <div class="mb-5 p-3 container-fluid">
        <form action="/" method="POST">
            <div class="mb-3">
                <label class="form-label" for="item">Item:</label>
                <input type="text" class="form-control" name="item">
            </div>
            <input type="submit" class="btn btn-primary" value="Add!">
        </form>
    </div>

    <div class="container-fluid">
        <h2>Current Items</h2>
        <ul class="list-group">
            {% for item in page.backlog_items %}
            <li class="list-group-item">{{ item }} <i class="bi bi-trash"></i></li>
            {% endfor %}
        <ul>
    </div>
{% endblock %}
